<div class="row">
	<div class="col-md-4 col-md-offset-4 border p-3 mx-auto mt-5">
		<h1>New Post</h1>
		<form action="newPost" method="post">
			<div class="form group">
				<label for="photoLink">Photo Link</label>
				<input type="text" id="photoLink" name="photoLink" class="form-control">
			</div>
			<div class="form group">
				<label for="comment">Comment</label>
				<input type="comment" id="comment" name="comment" class="form-control">
			</div>
			<button type="submit" class="btn btn-primary" style="margin-top: 10px;">Submit</button>
		</form>
	</div>
</div>
	
